@charset "UTF-8";

/* main.jsp */
.wrap-all {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 5vw;
}

.main_banner {
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
	display: flex;
	overflow-x: auto; 
}

.main_banner::-webkit-scrollbar {
	display: none;
}

.main_banner img { 
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.category {
	text-align: center;
	display: flex;
	width: 94%;
	margin: 0 auto;
}

.category div {
	font-family:'GmarketSansBold';
	width: 30%;
	padding: 1vw;
	margin: 0vw 2vw 2vw 2vw;
	text-align: center;
	font-size: 5vw;
	color: #444;
	padding-top: 2%;
	border: 2px solid #444;
	border-radius: 5px;
}

.category div:hover {
	background-color: #e8a761;
	color: white;
	border-color: #e8a761;
}

.search-bar {
	display: flex;
	text-align: center;
	margin: 5vw auto;
	width: 90%;
}

.search-bar img { width: 9vw; }

.search-bar input {
	padding: 5px;
	border: 1px solid #444;
	width: 90%;
	font-family: 'GmarketSansLight';
	font-size: 6vw;
	text-align: center;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:1;
}

.story {
	font-family: 'GmarketSansLight';
	text-align: center;
	color: #444;
	margin-bottom: 5vw;
}

.cardview {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 85%;
	margin: 1vw auto 10vw auto;
}

.card {
  	box-shadow: 0 2vw 2vw 0 rgba(0, 0, 0, 0.2);
  	transition: 0.3s;
  	width: 48%;
  	margin-bottom: 4vw;
}

.card img {
	margin-top: 2vw;
	width: 100%;
}

.text_container {
	padding: 2vw 4vw;
}

.text_container h4 { 
	font-family: 'GmarketSansBold';
	color: #444;
	text-align: center;
	font-size: 4vw;
}

.text_container p {
	padding-top: 1vw;
	font-family: 'GmarketSansLight';
	color: #777;
	font-size: 3vw;
	text-align: center;
}

.shop_info { display: none; }

.slick-dots li.slick-active button:before {
    color:orange !important;
}

/* 576px 이상 tablet */
@media (min-width: 576px){
	
.category div {
	border: 3px solid #444;
	border-radius: 5%;
}

.search-bar input {
	border: 2px solid #444;
	text-align: center;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1;
}

.story {
	font-size: 4vw
}	
	
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	.wrap-all {
		width: 960px;
		margin: 0 auto;
	}
	.main_banner {
		margin: 30px auto 0 auto;
		border-radius: 20px;
	}
	.category div {
		font-size: 24px;
		margin: 40px 20px;
		color: #444;
		padding: 16px 0;
		border-radius: 10px;
		border: 2px solid #444;
	}
	.search-bar {
		display: flex;
		justify-content: space-between;
		margin: 20px auto;
	}
	.search-bar input {
		width: 100%;
		font-size: 30px;
		text-align: center;
		border-color: #444;
	}
	.search-bar a {
		display: none;		
	}
	.story {
		font-size: 24px;
		margin: 30px auto;
	}
	.cardview {
		display: flex;
	}
	.card {
		display: flex;
		width: 100%;
		height: 100%;
		margin: 20px auto;
		box-shadow: 0 0 0 0 #fff;
		border: 2px solid #444;
		border-radius: 10px;
		padding: 24px;
	}
	.card:hover {
		box-shadow: 0 4vw 4vw 0 rgba(0,0,0,0.2);
	  	width: 100%;
	  	margin: 30px 0;
	}
	.card img {
		width: 25%;
		height: 25%;
		margin: auto 0;
	}
	.text_container {
		padding: 0 0 0 24px;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	}
	.text_container h4 {
		font-size: 50px;
		text-align: left;
	}
	.text_container p {
		padding: 0 0 0 0;
		font-size: 20px;
		text-align: left;
	}
	
	.shop_info {
		margin: 40px 0 0 0px;
		display: flex;
		justify-content: space-between;
		width: 300px;
	}
	
	.shop_info h5 {
		font-family: 'GmarketSansLight';
		font-size: 18px;
		color: #444;
	}
	
	.shop_info img {
		width: 25px;
		height: 25px;
	}
	
}

























