@charset "UTF-8";

/* main.jsp */
html, body{ height: 100%; }

.header {
	position: relative;
	z-index: 1;
	width: 0 auto;
}
.footer {
	height: 0%;
	background: #eee;
}

.wrap-all {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0% 0 0% 0;
	min-height: 100%;
	height: 100%
}

.main-banner img { 
	max-width: 100%;
	margin: 0 auto;
}

.search-bar {
	display: flex;
	text-align: center;
	margin: 7vw auto;
	width: 80vw;
}

.search-bar img { width: 9vw; }

.search-bar input {
	padding: 5px;
	border: 1px solid #777;
	width: 90%;
	font-family: 'GmarketSansLight';
	font-size: 6vw;
	text-align: center;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:1;
}

.category-button {
	text-align: center;
	display: flex;
	flex-direction: row;
}

.category-button>button {
	font-family: 'GmarketSansBold';
	width: 33vw;
	padding: 3vw;
	margin: 0 auto;
	font-size: 5vw;
	background-color: #e8a761;
	color: white;
	border: 0;
	outline: 0;
}

.category-button>button:hover {
	background-color: white;
	color: #e8a761;
	border: 0;
	border-color: #e8a761;
	outline: 0;
}

.story {
	margin-top: 5%;
	font-family: 'GmarketSansLight';
	text-align: center;
	color: #444;
}