@charset "UTF-8";

.wrap-all {
	width: 90%;
	margin: 0 auto;
}

.list_title {
	margin: 5vw 0 10vw 0;
	text-align: center;
}

.list_title h2 {
	font-family: 'GmarketSansBold';
	color: #444;
	font-size: 8vw;
	text-align: center;
}

.list_title input {
	font-family: 'GmarketSansBold';
	background-color: #e8a761;
	color: white;
	border: thin;
	border-radius: 5px;
	transition: 0.3s;
	font-size: 5vw;
	margin-top: 9vw;
	padding: 2vw;
	width: 100%;
}

.qna_list {
	color: #444;
	margin-top: 5vw;
	border: 1px solid #444;
	transition: 0.3s;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1;
}

.qna_one {
	display: flex;
	justify-content: space-between;
	margin: 3vw 1vw;
}

.qna_one h4 {
	font-family: 'GmarketSansLight';
	color: #444;
	font-size: 5vw;
}

.qna_one p {
	font-family: 'GmarketSansLight';
	color: #444;
	font-size: 2vw;
	margin: auto 0;
}

.footer {
	height: 20vw;
	background-color: #444;
	position:absolute;
	bottom:0;
}

/* 576px 이상 tablet */
@media (min-width: 576px){
	.list_title {
		margin: 5vw 0 7vw 0;
	}
	.list_title input {
		margin-top: 3vw;
	}
	.qna_one h4 {
		font-size: 4.5vw;
	}
	.qna_one p {
		font-size: 3vw;
	}
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	.wrap-all {
		width: 890px;
		margin: 0 auto;
	}
	.list_title {
		padding: 0;
		margin: 20px 0 58px 0;
		text-align: center;
	}
	.list_title input:hover {
		border: 3px solid #e8a761;
		box-shadow: 0 4vw 4vw 0 rgba(0,0,0,0.2);
		border-radius: 10px;
		background-color: white;
		color: #e8a761;
	}
	.list_title h2 {
		font-size: 70px;
	}
	.list_title input {
		font-size: 32px;
		border-radius: 10px;
		width: 100%;
		padding: 28px;
		margin: 20px 0 0 0;
	}
	.qna_list {
		margin: 50px 0;
		border: 2px solid #444;
		border-radius: 10px;
		width: 100%;
	}
	.qna_list:hover {
		box-shadow: 0 4vw 4vw 0 rgba(0,0,0,0.2);
		background-color: #e8a761;
		border-color: #e8a761;
	}
	.qna_one {
		margin: 30px 10px;
		padding: 0 50px;
	}
	.qna_one h4 {
		font-size: 28px;
	}
	.qna_one p {
		font-size: 16px;
	}
	
}




















