@charset "UTF-8";

.biggerCategory {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 5vw auto 0 auto;
}

.biggerCategory div {
	font-family:'GmarketSansBold';
	width: 30vw;
	padding: 1vw;
	margin: 1vw;
	text-align: center;
	font-size: 5vw;
	color: #444;
	padding-top: 2%;
	border: 2px solid #444;
	border-radius: 5px;
}

.biggerCategory div:hover {
	background-color: #e8a761;
	color: white;
	border-color: #e8a761;
}

.smallCategory {
	width: 90%;
	margin: 1vw auto;
	overflow: auto;
	/* safari scrolling */
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.smallCategory::-webkit-scrollbar {
	display: none; 
}

.smallEat {
	display: flex;
	width: 261%;
	height: 10%;
	margin: 0 auto;
	overflow-x: auto;
}

.smallEat div {
	font-family:'GmarketSansBold';
	padding: 4vw;
	margin: 3vw 1vw;
	text-align: center;
	font-size: 4vw;
	color: #444;
	border: 2px solid #444;
	border-radius: 50%;
}

.smallEat div:hover {
	background-color: #e8a761;
	color: white;
	border-color: #e8a761;
}

.story {
	font-family: 'GmarketSansLight';
	text-align: center;
	color: #444;
	font-size: 6vw;
}

.cardview {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto 8vw auto;
}

.card {
	box-shadow: 0 2vw 2vw 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 48%;
	margin: 3vw 0;
}

.card img {
	width: 100%;
	margin-top: 2vw;
}

.text_container {
	padding: 2vw 5vw;
}

.text_container h4 { 
	font-family: 'GmarketSansBold';
	color: #444;
	text-align: center;
	font-size: 4vw;
}

.text_container p { 
	font-family: 'GmarketSansLight';
	color: #777;
	font-size: 3vw;
	text-align: center;
}

.shop_info { display: none; }

/* 576px 이상 tablet */
@media (min-width: 576px){
	.biggerCategory div {
		border: 3px solid #444;
		border-radius: 10px;
	}
	.smallEat {
		width: 235%;
	}
	.smallEat div {
		border: 3px solid #444;
		border-radius: 50%;
		padding: 3vw;
	}
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	.wrap-all {
		width: 1010px;
		margin: 0 auto;
	}
	.biggerCategory {
		margin: 30px auto 0 auto;
	}
	.biggerCategory div {
		border: 2px solid #444;
		font-size: 32px;
		width: 100%;
		padding: 10px;
		margin: 10px;
	}
	.smallCategory {
		width: 90%;
	}
	.smallEat {
		width: 100%;
		justify-content: center;
	}
	.smallEat div {
		border: 2px solid #444;
		border-radius: 5px; 
		padding: 10px;
		margin: 2px;
		font-size: 20px;
	}
	.story {
		font-size: 40px;
		margin: 40px auto 0 auto;
	}
	.cardview {
		display: flex;
		width: 88%;
		margin: 34px auto 0 auto;
	}
	.card {
		display: flex;
		width: 100%;
		margin: 20px auto;
		box-shadow: 0 0 0 0 #fff;
		border: 2px solid #444;
		border-radius: 10px;
		padding: 24px;
	}
	.card:hover {
		box-shadow: 0 4vw 4vw 0 rgba(0,0,0,0.2);
	  	width: 100%;
	  	margin: 30px 0;
	}
	.card img {
		width: 25%;
		height: 100%;
		margin: auto 0;
	}
	.text_container {
		padding: 0 0 0 24px;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	}
	.text_container h4 {
		font-size: 50px;
		text-align: left;
	}
	.text_container p {
		padding: 0 0 0 0;
		font-size: 20px;
		text-align: left;
	}
	.shop_info {
		margin: 40px 0 0 0px;
		display: flex;
		justify-content: space-between;
		width: 250px;
	}
	.shop_info h5 {
		font-family: 'GmarketSansLight';
		font-size: 18px;
		color: #444;
	}
	.shop_info img {
		width: 18px;
	}
	
}

















