@charset "UTF-8";

.wrap-all {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header_top {
	display: flex;
	justify-content: space-between;
	margin: 3vw;
}

.info_title h2 {
	font-family:'GmarketSansBold';
	color: #e8a761;
	font-size: 10vw;
}

.info_title h5 {
	font-family:'GmarketSansLight';
	color: #777;
	font-size: 4vw;
}

.numbers {
	font-family:'GmarketSansLight';
	margin: auto 0;
	width: 30%;
	text-align: right;
}

.numbers img {
	width: 4vw;
}

.numbers h5 {
	padding: 3%;
	font-size: 3vw;
}

.photos img {
	max-width: 100%;
	margin: 0 auto;
}

.hashtag {
	display: flex;
	padding: 0 3vw;
}

.hashtag div {
	font-family:'GmarketSansBold';
	padding: 2.5vw 2vw 2vw 2vw;
	margin: 3vw 1vw;
	text-align: center;
	font-size: 2.5vw;
	color: #777;
	border: 1.5px solid #777;
	border-radius: 10%;
}

.brief {
	display: flex;
	justify-content: space-between;
	padding: 3vw 9vw;
}

.brief_item {
	padding: 1vw;
	text-align: center;
	margin: auto 0;
}

.brief_item img {
	width: 8vw;
}

.brief_item h5 {
	font-family:'GmarketSansBold';
	text-align: center;
	color: #444;
	font-size: 4vw;
	padding-top: 3vw;
}

.article_tab {
	display: flex;
	justify-content: space-between;
	padding: 1vw 5vw;
}

.article_tab div {
	font-family:'GmarketSansBold';
	padding: 1.5vw 8vw 1.5vw 4vw;
	font-size: 4.5vw;
	color: #444;
}

.store_info {
	padding: 5vw;
	color: #444;
}
.store_info h2 {
	font-family:'GmarketSansBold';
	text-align: center;
	font-size: 6vw;
	margin-bottom: 3vw;
}

.store_info b {
	font-family:'GmarketSansBold';
	font-size: 4vw;
}

.store_info ul {
	width: 90%;
	margin: 0 auto;
}

.store_info li {
	font-family:'GmarketSansLight';
	font-size: 4vw;
	padding: 1vw;
}

.store_map {
	text-align: center;
	padding: 5vw;
	color: #444;
}

.store_map h2 {
	font-family:'GmarketSansBold';
	text-align: center;
	font-size: 6vw;
	margin-bottom: 3vw;
	color: #444;
}

.store_map img {
	padding: 1vw;
	max-width: 90%;
	margin: 0 auto;
	border-radius: 10px;
}

.store_review {
	padding: 5vw 0;
	color: #444;
}

.store_review h2 {
	font-family:'GmarketSansBold';
	text-align: center;
	font-size: 6vw;
	margin-bottom: 3vw;
	color: #444;
}

.store_review_context {
	background-color: #eee;
	padding: 3vw;
	margin: 1vw 0 3vw 0;
	display: flex;
	flex-direction: column;
}

.reviewer {
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 0 3vw;
	margin: 1vw 0;
}

.reviewer hr {
	width: 94%;
	margin: 0 auto;
}

.review_like {
	text-align: center;
	font-family:'GmarketSansLight';
}

.reviewer_info h5 {
	font-family:'GmarketSansLight';
	font-size: 4vw;
}

.reviewer_info p {
	font-family:'GmarketSansLight';
	font-size: 3vw;
	color: #777;
}

.reviewer img {
	width: 8vw;
}

.review_context {
	font-family:'GmarketSansLight';
	width: 95%;
	padding: 2vw 3vw 2vw 3vw;
}


/* 576px 이상 tablet */
@media (min-width: 576px){
	
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	.only_mobile { display: none; }
	.wrap-all {
		width: 890px;
		margin: 0 auto;
	}
	.header {
		background-color: rgba(200, 200, 200, 0.2);
		padding: 30px;
		margin: 30px 0;
		border-radius: 10px;
	}
	.header_top {
		margin: 0 0 30px 0;
	}
	.info_title {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
	.info_title h2 {
		font-size: 80px;
	}
	.info_title h5 {
		font-size: 24px;
	}
	.numbers h5 {
		font-size: 20px;
		color: #777;
	}
	.numbers img {
		width: 30px;
	}
	.photos img {
		border-radius: 10px;
	}
	.hashtag {
		padding: 0;
		justify-content: center;
	}
	.hashtag div {
		margin: 20px 10px 0 10px;
		font-size: 18px;
		padding: 20px;
		border-radius: 8px;
	}
	.brief {
		padding: 0 80px;
		background-color: rgba(200, 200, 200, 0.2); 
		border-radius: 10px;
	}
	.brief_item {
		padding: 20px;
	}
	.brief_item img {
		width: 60px;
	}
	.brief_item h5 {
		padding-top: 15px;
		font-size: 28px;
	}
	.store_info {
		padding: 20px 40px;
		background-color: rgba(200, 200, 200, 0.2); 
		padding: 30px;
		margin: 30px 0;
		border-radius: 10px;
	}
	.store_info h2 {
		font-size: 54px;
		margin-bottom: 10px;
	}
	.store_info li b {
		font-size: 32px;
	}
	.store_info li {
		font-size: 28px;
		padding: 10px;
	}
	.store_map {
		padding: 20px 40px;
		background-color: rgba(200, 200, 200, 0.2); 
		padding: 30px;
		margin: 30px 0;
		border-radius: 10px;
	}
	.store_map h2 {
		font-size: 54px;
		margin-bottom: 10px;
	}
	.store_map img {
		border-radius: 15px;
		padding: 5px;
	}
	.store_review {
		padding: 20px 40px;
		background-color: rgba(200, 200, 200, 0.2); 
		padding: 30px;
		margin: 30px 0;
		border-radius: 10px;
	}
	.store_review h2 {
		font-size: 54px;
		margin-bottom: 10px;
	}
	.store_review_context {
		margin: 10px auto 30px auto;
		background-color : #fff;
		width: 85%;
		border-radius: 10px;
		padding: 10px;
	}
	.reviewer {
		margin: 10px 0;
		padding: 0 40px;
	}
	.store_review_context hr {
		width: 92%;
		margin: 0 auto;
	}
	.reviewer_info h5 {
		font-size: 32px;
	}
	.reviewer_info p {
		font-size: 20px;
	}
	.review_like {
		height: 70px;
		margin: auto 0;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
	.review_like img {
		width: 40px;
	}
	.review_context {
		padding: 15px 20px;
		width: 90%;
		margin: 0 auto;
	}
	.review_context p {
		font-size: 20px;
	}
}

















