@charset "UTF-8";

/* submenu_mobile */
.submenu_title {
	font-family: 'GmarketSansBold';
	color: white;
	text-align: center;
	margin-top: 7%;
	margin-bottom: 10%;
	font-size: 10vw;
}

.submenu_list li {
	margin: 5%;
	font-family: 'GmarketSansLight';
	font-size: 8vw;
	text-align: center;
}


/* 576px 이상 tablet */
@media (min-width: 576px){
.submenu_list li {
	font-size: 7vw;
}
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	
}