@charset "UTF-8";

/* 웹 폰트 */
@font-face {
	font-family: 'GmarketSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 초기화 */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: black; }
img { border: none; vertical-align: top; }



/* /* 576px 이상 태블릿
@media (min-width: 576px) {
	
	html,body{ height: auto; }
	
	.search-bar { text-align: center; margin: 20px 0; }
	
	.search-bar input[type=text] {
		padding: 10px;
		border: 1px solid #444;
		width: 85%;
		margin: 3 auto;
		font-family: 'GmarketSansLight';
		font-size: 21px;
		text-align: center;
		border-left-width:0;
		border-right-width:0;
		border-top-width:0;
		border-bottom-width:1;
	}
	
	.category-button { text-align: center; }
	
	.category-button>button {
		font-family: 'GmarketSansBold';
		padding: 92px;
		margin: 6px;
		font-size: 23px;
	}
	
	.main-banner { height: 50%; }
}

992px 이상 PC
@media (min-width: 992px) {
	
} */

/* main.jsp */

html, body{ height: 100%; }

.header {
	position: relative;
	z-index: 1;
	width: auto;
}
.footer {
	height: 0%;
	background: #eee;
}

.wrap-all {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: -12% 0 0% 0;
	min-height: 100%;
	height: 100%
}

.main-banner { 
	border: 0px solid black;
	background-color: #e8a761;
	width: 100vw;
	height: 50%;
	margin: 0 auto;
}

.search-bar {
	display: flex;
	text-align: center;
	margin: 7vw auto;
	width: 80vw;
}

.search-bar img { width: 9vw; }

.search-bar input {
	padding: 5px;
	border: 1px solid #777;
	width: 90%;
	font-family: 'GmarketSansLight';
	font-size: 6vw;
	text-align: center;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:1;
}

.category-button {
	text-align: center;
	display: flex;
	flex-direction: row;
}

.category-button>button {
	font-family: 'GmarketSansBold';
	width: 33vw;
	padding: 3vw;
	margin: 0 auto;
	font-size: 5vw;
	background-color: white;
	color: #e8a761;
	border: 0;
	outline: 0;
}

.category-button>button:hover {
	background-color: #e8a761;
	color: white;
	border: 0;
	outline: 0;
}

.story {
	font-family: 'GmarketSansLight';
	text-align: center;
	color: #444;
}

/* search_res */
.search_res_searchbar {
	border: 2px solid #e8a761;
	width: 83%;
	margin: 0 auto;
	display: flex;
	padding: 2%;
}

.search_res_searchbar img {
	width: 6vw;
	margin-left: 1%;
	opacity: 50%;
}

.search_res_searchbar input {
	font-family: 'GmarketSansLight';
	font-size: 6vw;
	width: 70%;
	padding-left: 3vw;
	padding-top: 1vw;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:0;
}

.search_res_info {
	display: flex;
	justify-content: center;
	margin: 5vw auto;
	flex-wrap: wrap;
}

.search_res_info_res {
	font-family: 'GmarketSansLight';
	border: 1px solid #444;
	width: 83vw;
	height: 20vw;
	padding: 2vw;
	margin: 2vw auto;
	font-size: 5vw
}

/* search_main */
.search_main_searchbar {
	border: 2px solid #e8a761;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	width: 83%;
	margin: 5vw auto;
	display: flex;
	padding: 2%;
	opacity: 100%;
	transition: opacity 2s;
}

.search_main_searchbar img {
	width: 6vw;
	margin-left: 1%;
	opacity: 50%;
}

.search_main_searchbar input {
	font-family: 'GmarketSansLight';
	font-size: 6vw;
	width: 80%;
	padding-left: 3vw;
	padding-top: 1vw;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:0;
}

.search_main_items {
	display: flex;
	flex-direction: column;
	width: 83%;
	margin: 0 auto;
}

.search_main_items h4 { 
	font-family: 'GmarketSansBold'; 
	font-size: 6vw; 
	color: #e8a761; 
}
.search_main_items ul { margin-top: 2vw; }

.search_main_items li { 
	font-family: 'GmarketSansLight';
	font-size: 5vw;
	margin: 2vw auto;
	color: #444;
}

.search_main_recommand {
	margin-top: 5vw;
}

.search_main_item {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-left: 8vw;
}

/* submenu_mobile */
.submenu_title {
	font-family: 'GmarketSansBold';
	color: white;
	text-align: center;
	margin-top: 7%;
	margin-bottom: 10%;
	font-size: 10vw;
}

.submenu_list li {
	margin: 5%;
	font-family: 'GmarketSansLight';
	font-size: 7vw;
	text-align: center;
}

.submenu_list a { color: #444; }
.submenu_list a:hover { color: white; }

/* search_category */
.search_category_da {
	display: flex;
	justify-content: center;
	margin-top: 1%;
}

.search_category_da button {
	font-family: 'GmarketSansBold';
	width: 34%;
	padding: 1vw;
	font-size: 5vw;
	color: white;
	background-color: #e8a761;
	padding-top: 2%;
	border: 0px solid #eee;
}

.search_category_da button:hover {
	background-color: rgb(248, 225, 201);
	color: #e8a761;
}




